@import url('./__container/popup__container.css');
@import url('./__close/popup__close.css');
@import url('./__title/popup__title.css');
@import url('./__form/popup__form.css');
@import url('./__cover/popup__cover.css');
@import url('./__input/popup__input.css');
@import url('./__input/_type/popup__input_type_name.css');
@import url('./__input/_type/popup__input_type_about.css');
@import url('./__submit/popup__submit.css');
@import url('./_opened/popup_opened.css');

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}