.pictures__like {
    background-image: url('../../../images/hert.svg');
    background-repeat: no-repeat;
    min-width: 20.7px;
    min-height: 18.1px;
    cursor: pointer;
    border: none;
}

.pictures__like:hover {
    opacity: 0.6;
}