.pictures__delete {
    position: absolute;
    top: 18px;
    right: 15px;
    background-image: url('../../../images/trash.svg');
    background-color: transparent;
    border: none;
    width: 18px;
    height: 19.3px;
}