.popup__container {
    font-family: 'Inter', Arial, sans-serif;
    position: fixed;
    min-width: 430px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    top: 30%;
    left: calc(50% - 215px);
    padding: 34px 36px 36.5px;
}