.pictures__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 21px 18px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 425px){
    .pictures__list {
        grid-gap: 20px;
    }
}