.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 425px){
    .profile__subtitle {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px){
    .profile__subtitle {
        font-size: 14px;
        line-height: 1.21;
    }
}