.profile__position {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    min-width: 336px;
}

@media screen and (max-width: 425px){
    .profile__position {
        margin-top: 12px;
        min-width: 218px;
    }
}