.profile__position {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 336px;
    text-overflow: ellipsis;
}

@media screen and (max-width: 700px){
    .profile__position {
        justify-content: center;
        min-width: 425px;
    }
}

@media screen and (max-width: 425px){
    .profile__position {
        min-width: 282px;
    }
}