.popup__close {
    position: absolute;
    background-image: url('../../../images/close.svg');
    width: 57px;
    height: 57px;
    top: -45px;
    right: -45px;
    background-size: contain;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.popup__close:hover {
    opacity: 0.6;
}