@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/button/button.css');
@import url('../blocks/pictures/pictures.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/popup/popup.css');
@import url('../');
@import url('../');
@import url('../');