.button__edit {
    position: relative;
    border: 1px solid #ffffff;
    width: 24px;
    height: 24px;
}

.button__edit::after {
    position: absolute;
    content: '';
    background-image: url('../../../images/pen.svg');
    background-size: cover;
    width: 10px;
    height: 10px;
    top: 6px;
    left: 6px;
}

.button__edit:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.button__edit:hover::after {
    background-image: url('../../../images/hover_pen.svg');
}

@media screen and (max-width: 700px){
    .button__edit {
        width: 21px;
        height: 21px;
    }

    .button__edit::after {
        top: 5px;
        left: 6px;
        width: 8.5px;
        height: 8.5px;
    }
}

@media screen and (max-width: 425px){
    .button__edit {
        width: 18px;
        height: 18px;
    }

    .button__edit::after {
        top: 4px;
        left: 4px;
        width: 7.5px;
        height: 7.5px;
    }
}